VITE_API_URL= your backend url endpoint/api

# Set the url as https://yourdomain.com/api 
# Note /api is must at last cause all the routes in backend started with api and frontend called without /api

# Reference the api.js file in client/services.api.js
# const API_URL = import.meta.env.VITE_API_URL || "http://localhost:5000/api";
# Line number 4 in api.js