@import "tailwindcss";

body {
  font-family: "Geist", sans-serif;
}

::selection {
  background-color: #ffedd5;
  color: #ea580c;
}

::-moz-selection {
  background-color: #ffedd5;
  color: #ea580c;
}
